<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="adminGrid.js"></script>
</head>
<body>
    <div id="entities-grid"></div>
    <script>
        open(
            "content.php",
            "countUsers.php",
            ["id", "title", "created_date"], // массив с именами полей сущности, по которым должна быть возможна сортировка
            ["id", "email", "first name", "last name"], // массив с именами полей сущности, по которым должна быть возможна фильтрация
            20
        )
    </script>
</body>
</html>