<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <style>
        body {
            font: 14px 'Times New Roman';
            margin: 0;
            padding: 0;
        }
        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul:after {
            display: block;
            content: ' ';
            clear: both;
            float: none;
        }
        ul.menu > li {
            float: left;
            position: relative;
        }
        ul.menu > li > a {
            display: block;
            padding: 10px;
            color: white;
            background-color: #cad3cb;
            color: black;
            text-decoration: none;
        }
        ul.menu > li > a:hover {
            background-color: black;
            color: white;
        }
        .sizeImage {
            height: 200px;
            width: 200px;
            float: left;
            margin-right: 20px;
        }
        .newsid {
            padding: 10px;
            margin: 10px;
            background-color: rgba(202, 211, 203, 0.59);
            width: 45%;
            float: left;
        }
    </style>
</head>
<body>

        <ul class="menu">
            <li><a href=#>Sudmenu 2</a></li>
            <li><a href=#>Sudmenu 2</a></li>
            <li><a href=#>Sudmenu 2</a></li>
            <li><a href=#>Sudmenu 2</a></li>
            <li><a href=#>Sudmenu 2</a></li>
            <li><a href=#>Sudmenu 2</a></li>
        </ul>
    <div>
        <div class="newsid">
            <h2 class="text-center"><a href="#">Заголовок и ссылка Новости!</a></h2>
            <a href="#">
                <img class="sizeImage" src="http://media.gettyimages.com/photos/color-explosion-picture-id503271069?s=612x612">
            </a>
            <span>
                Краткое содержание. Тут идёт текст новости а через 40 символов ставим много точек...Краткое содержание. Тут идёт текст новости а через 40 символов ставим много точек...Краткое содержание. Тут идёт текст новости а через 40 символов ставим много точек...
                <a href="#"> продолжение</a></br></br>
                <p>
                    author: ФИО автора</br>
                    data: Дата публикации</br>
                    category: Кателгория
                </p>
            </span>
        </div>
    </div>
</body>
</html>