<h3>You did it! You registered!</h3>
Hi! You're successfully registered.
To login, go to: <a href="{{ url('main') }}">news site</a>. Thanks!</br>
<img src="{{ absolute_url(asset('http://media.gettyimages.com/photos/color-explosion-picture-id503271069?s=612x612')) }}">
