<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Международные конференции</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link href="includes/DWCarousel/DWCarousel2.css" rel="stylesheet" type="text/css"/>
    <script src="includes/DWCarousel/DWCarousel2.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="includes/DWCarousel/DWCarousel1.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            margin-left: 200px;
            margin-right: 200px;
        }
    </style>
    <script type="text/javascript" src="includes/DWCarousel/extendDWCarousel.js"></script>
    <script type="text/javascript" src="includes/DWCarousel/DWCarousel.js"></script>
    <script src="includes/DWCarousel/DWCarousel1.js" type="text/javascript"></script>
</head>


<body>
<div class ="login">
</div>
<table width="100%" height="122" border="0" cellpadding="0" cellspacing="0" class="blue-bg1">
    <tr align="center" valign="middle">
        <td height="122" style="padding-left:25px;"><div class = "headertext"> <p> Международная научно-техническая интернет конференция "Информационные технологии в образовании, науке и производстве" </p></div></td>

        <td> <img  src="images/llogo.png" alt="llogo" width="122" height="120" align="middle"/></td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr align="center" valign="middle">
        <div class="menubar"><ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#news">О нас</a></li>
            <li><a href="#contact">Наша история</a></li>
            <li><a href="#about">Подать заявку</a></li>
                <li><a href="#about">Научные работы</a></li>
                <li><a href="#about">Итоги</a></li>
                <li><a href="#about">Контакты</a></li>


        </ul></div>
    </tr>
</table>
<div id="DWCarousel1" class="DWCarousel_container skin2">
    <div class="DWCarousel_widget">
        <!--Your content from here -->
        <img src="includes/DWCarousel/DWCarousel1/Рисунок1.jpg" class="skin2_img">
        <!-- to here -->
    </div>
    <div class="DWCarousel_widget">
        <!--Your content from here -->
        <img src="includes/DWCarousel/DWCarousel1/2.jpg" class="skin2_img">
        <!-- to here -->
    </div>
    <div class="DWCarousel_widget">
        <!--Your content from here -->
        <img src="includes/DWCarousel/DWCarousel1/3.jpg" class="skin2_img">
        <!-- to here -->
    </div>
    <div class="DWCarousel_widget">
        <!--Your content from here -->
        <img src="includes/DWCarousel/DWCarousel1/4.jpg" class="skin2_img">
        <!-- to here -->
    </div>
    <div class="DWCarousel_widget">
        <!--Your content from here -->
        <img src="includes/DWCarousel/DWCarousel1/5.jpg" class="skin2_img">
        <!-- to here -->
    </div>
</div>
<div class="maintable">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="outertable">

    <tr>
        <td align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>

                    <td height="19">&nbsp;</td>

                </tr>

                <tr>

                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            <tr>

                                <td height="220"><div class = "underbanner"><p>Цель конференции - распространение опыта в использовании современных
                                        информационных технологий в образовательном процессе, в ходе проведения научно-исследовательских работ, а также в производственной сфере.
                                            Ознакомления общественности со своими теориями, а также первичная апробация своих идей на практике.</p></div></td>

                            </tr>

                            <tr>

                                <td height="304">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                        <tr>

                                            <td height="80%" align="center">
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>

                                                        <td align="left" valign="middle">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">

                                                                <tr>

                                                                    <td width="60"><img src="{{ asset('images/upload.png') }}"
                                                                                        width="60" height="50"/></td>

                                                                    <td width="240" class="heading1">Подать заявку на участие
                                                                    </td>

                                                                </tr>

                                                            </table>
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td class="text1"
                                                            style="padding-left:8px; padding-right:8px;"><p>Для того чтобы подать заявку на участие в конференции вам нужно четко следовать инструкции на нашем сайте.
                                                                Пожалуйста выполните все пункты в точности как сказано в инструкции и тогда у нас не возникнет проблем с записью вас на участие в предстоящих конференциях..</p>
                                                            <span style="padding-right:8px; float: right;"><p class="buttond" style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6; background-color:#991c00; border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p>
                                                            </span></td>

                                                    </tr>

                                                </table>
                                            </td>

                                            <td align="center">
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>

                                                        <td align="left" valign="middle">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">

                                                                <tr>

                                                                    <td width="60"><img src="images/time.png"
                                                                                        width="60" height="50"/></td>

                                                                    <td width="240" class="heading1">Время проведения
                                                                    </td>

                                                                </tr>

                                                            </table>
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td height="233" class="text1"
                                                            style="padding-left:8px; padding-right:8px;"><p>
                                                                Представляем
                                                                вашему вниманию список ближайших конференций, дату и
                                                                время их проведения.</p>
                                                           <span style="padding-right:8px; float: right;"><p class="buttond"  style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6; background-color:#991c00; border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p></span></p>

                                                            <p>&nbsp;</p>
                                                            <p>&nbsp;</p></td>

                                                    </tr>

                                                </table>
                                            </td>

                                            <td align="center">
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>

                                                        <td align="left" valign="middle">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">

                                                                <tr>

                                                                    <td width="60"><img src="{{ asset('images/check.png') }}"
                                                                                        width="60" height="50"/></td>

                                                                    <td width="240" class="heading1">Последние итоги
                                                                    </td>

                                                                </tr>

                                                            </table>
                                                        </td>

                                                    </tr>

                                                    <tr>

                                                        <td height="238" class="text1"
                                                            style="padding-left:8px; padding-right:8px;"><p>Итоги
                                                                последних конференций, а так же лучшие лучшие
                                                                выступления.</p>
                                                            <span style="padding-right:8px; float: right;"><p class="buttond"  style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6;
                                                             background-color:#991c00;
                                                             border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p></span></p>
                                                            <p>&nbsp;</p>
                                                            <p>&nbsp;</p>
                                                            <p>&nbsp;</p></td>

                                                    </tr>

                                                </table>
                                            </td>

                                        </tr>

                                        <tr>

                                            <td height="19" align="center">&nbsp;</td>

                                            <td align="center">&nbsp;</td>

                                            <td align="center">&nbsp;</td>

                                        </tr>

                                    </table>
                                </td>

                            </tr>

                            <tr>

                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="grey-bg">

                                        <tr>

                                            <td align="center">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>

                                                        <td align="center" valign="top" style="padding-top:10px;">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">

                                                                <tr>

                                                                    <td height="28" align="left" valign="top">
                                                                        <table width="300" border="0" cellspacing="0"
                                                                               cellpadding="0">

                                                                            <tr>


                                                                                <td width="269" class="heading1">Вы у нас впервые?
                                                                                </td>

                                                                            </tr>

                                                                        </table>
                                                                    </td>

                                                                </tr>

                                                                <tr>

                                                                    <td height="113" class="text1"
                                                                        style="padding-left:8px; padding-right:8px;">
                                                                        <img src="{{ asset('images/somnenie.jpg') }}" width="280"
                                                                             height="95" class="border1"/></td>

                                                                </tr>

                                                                <tr>

                                                                    <td class="text1"
                                                                        style="padding-left:8px; padding-right:8px;">
                                                                        Добро пожаловать на сайт международных
                                                                        научно-практических конференций. У нас вы можете
                                                                        принять участие в конференциях посвященных
                                                                        инновациям в мире современных технологий
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td> <span style="padding-right:8px; float: right;"><p class="buttond"  style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6;
                                                             background-color:#991c00;
                                                             border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p></span></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top" style="padding-top:10px;">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    <td height="28" align="left" valign="top">
                                                                        <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="269" class="heading1">История конференций
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="113" class="text1"
                                                                        style="padding-left:8px; padding-right:8px;">
                                                                        <img src="images/book-img.jpg" width="280"
                                                                             height="95" class="border1"/></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text1"
                                                                        style="padding-left:8px; padding-right:8px;"><p>
                                                                            Представляем вашему вниманию наши лучшие
                                                                            конференции, их темы и участников.</p>
                                                                </tr>
                                                                <tr>
                                                                    <td height="34" class="text1"
                                                                        style="padding-left:8px; padding-right:8px;"><span style="padding-right:8px; float: right;"><p class="buttond"  style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6;
                                                             background-color:#991c00;
                                                             border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p></span></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" valign="top" style="padding-top:10px;">
                                                            <table width="300" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    <td height="28" align="left" valign="top">
                                                                        <table width="300" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td width="264" class="heading1">Постоянные участники
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>

                                                                </tr>

                                                                <tr>

                                                                    <td valign="top" class="text2"
                                                                        style="padding-left:8px; padding-right:8px;">
                                                                        <table width="302" border="0" cellspacing="0"
                                                                               cellpadding="0">

                                                                            <tr>

                                                                                <td width="27" align="center"
                                                                                    valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>
                                                                                <td width="275" height="30" align="left"
                                                                                    valign="top" class="border2"><span
                                                                                            class="text2">&#1041;&#1043;&#1059;&#1048;&#1056; &#1050;&#1057;&#1048;&#1057;</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>

                                                                                <td align="center" valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>

                                                                                <td height="30" align="left"
                                                                                    valign="top" class="border2"><span
                                                                                            class="text2">&#1041;&#1053;&#1058;&#1059; &#1060;&#1048;&#1058;&#1056;</span>
                                                                                </td>

                                                                            </tr>

                                                                            <tr>

                                                                                <td align="center" valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>

                                                                                <td height="30" align="left"
                                                                                    valign="top" class="border2"><span
                                                                                            class="text2">&#1041;&#1043;&#1059;&#1048;&#1056; &#1060;&#1048;&#1058;&#1059;</span>
                                                                                </td>

                                                                            </tr>

                                                                            <tr>

                                                                                <td align="center" valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>

                                                                                <td height="30" align="left"
                                                                                    valign="top" class="border2"><span
                                                                                            class="text2">&#1041;&#1043;&#1059; &#1060;&#1055;&#1052;</span>
                                                                                </td>

                                                                            </tr>

                                                                            <tr>

                                                                                <td align="center" valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>

                                                                                <td height="30" align="left"
                                                                                    valign="top" class="border2"><span
                                                                                            class="text2">БНТУ ФИТР</span>
                                                                                </td>

                                                                            </tr>

                                                                            <tr>

                                                                                <td align="center" valign="top"
                                                                                    style="padding-top:4px;"><img
                                                                                            src="images/grey-arrow.jpg"
                                                                                            width="5" height="9"/></td>

                                                                                <td height="30" align="left"
                                                                                    valign="top" class="text2">БНТУ МИДО
                                                                                </td>

                                                                            </tr>


                                                                        </table>
                                                                    </td>

                                                                </tr>


                                                                <tr>

                                                                    <td height="34" class="text1"
                                                                        style="padding-left:8px; padding-right:8px;"><span style="padding-right:8px; float: right;"><p class="buttond"  style="text-align:center;"><a href="http://daruse.ru/generator-knopok-online" target="_self" style="cursor: pointer; font-size:16px;  text-decoration: none; padding:6px 11px; color:#d3dee6;
                                                             background-color:#991c00;
                                                             border-radius:0px; border: 0px solid #ffffff;">Подробнее</a></p></span></td>

                                                                </tr>

                                                            </table>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:2px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="footerbg">

                            <tr>


                                <td width="100%" align="center" class="link1">

                                    <a href="index.html">Главная </a>&nbsp; | &nbsp;

                                    <a href="aboutus.html">О нас </a> &nbsp; | &nbsp;

                                    <a href="products.html">Наша история</a> &nbsp; | &nbsp;

                                    <a href="services.html">Подать заявку </a> &nbsp; | &nbsp;

                                    <a href="careers.html"> Научные работы</a> &nbsp; | &nbsp;

                                    <a href="clients.html">Итоги </a> &nbsp; | &nbsp;

                                    <a href="contactus.html">Контакты </a></td>

                                <td width="1%" rowspan="2" class="link1">&nbsp;</td>





                                <td height="30" align="right" class="link1"><p
                                            style="font:normal 11px arial; color:#b1b1b1; display:inline;">&nbsp;</p>
                                </td>

                            </tr>

                        </table>
                    </td>

                </tr>

            </table>
        </td>

    </tr>

</table>
</div>
</body>

</html>