<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
            <div class="form-login">
                <h4>Welcome back.</h4>
                <form id="login-form" action="{{ path('login') }}" method="post" role="form">
                    <input type="text" name="_email" id="username" tabindex="1"
                           class="form-control input-sm chat-input" placeholder="Email" value="{{ last_username }}">
                    </br>
                    <input type="password" name="_password" id="password" tabindex="2"
                           class="form-control input-sm chat-input" placeholder="Password">
                    </br>
                    <div class="wrapper">
	            <span class="group-btn">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                           class="btn btn-primary btn-md" value="Log In">
	            </span>
                    </div>
                    <p></p>
                    <div class="wrapper">
                        <a href="#">Forgot password?</a> or <a href="{{ path('registration') }}">Not registered?</a>
                    </div>
                    <input type="hidden" name="_target_path" value="main"/>
                    <input type="hidden" name="_failure_path" value="login"/>
                </form>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>