<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body>

<div class="login-page">
    <div class="form">

        <form class ="login-form" action="{{ path('password') }}" method="post">
            <label for="password_reset_email_email">Email:</label>
            <input type="email" id="password_reset_email_email" name="password_reset_email[email]" required="required" />

            <button type="submit">Submit</button></br>
            {{ form_row(form._token) }}
        </form>
    </div>
</div>


</body>
</html>}}